<div class="container" *ngIf="task$ | async as task; else loadingOrError">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ task.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ task.description || 'Описание отсутствует' }}</p>
      <div class="status">
        Статус:
        <span class="task-status" [ngClass]="{'status-completed': task.status === 'completed', 'status-pending': task.status === 'pending'}">
          {{ task.status === 'completed' ? 'Выполнена' : 'не выполнена' }}
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="goBack()">Назад к списку</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loadingOrError>
  <div class="container">
    <mat-card>
      <mat-card-content>
        <p>Загрузка задачи или задача не найдена...</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="goBack()">Назад к списку</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
